<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue 3 fundamental </title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        
       .removeItem {
           text-decoration: line-through;
       }
    </style>

</head>

<body>
    <div id="app">
        <h1>Vue 3 fundamental</h1>
        <input type="text" v-model="firstName" placeholder="Enter First Name">
        <input type="text" v-model="lastName" placeholder="Enter Last Name">
       
        <h2>Full Name: {{ FullName }}</h2>

        
    </div>

    <script src="app.js"></script>
    <script>
       
    </script>
</body>

</html>